{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Home Page</h1>
 <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome!</h1>
        <p>Welcome to Lisandra Blog! Here we will be talking about everything related to programming, football (the real one), ajax, videogames, Netherlands and Naci Unuvar.</p>
        <p>Visit my microblog where I talk about football <a href="https://twitter.com/tagliaficofan">here</a>.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View our blog posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
