{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
<div>
  <h1 style="display: inline;">Here are some posts</h1>
  <a style="display: inline;" class="btn btn-success float-right" href="/posts/new">+ New Post</a>
</div>
<hr>
  {% for post in posts %}
    <h2>{{ post.title }}</h2>
    {% if post.author %}
      <h6>Written by: {{ post.author }} on {{post.date_posted}}</h6>
    {% else %}
      <h6>Written by: unknown author on {{post.date_posted}}</h6>
    {% endif %}
    <p style="white-space: pre-wrap;">{{ post.content }}</p>
    <br>
    <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
    <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
    <hr>
  {% endfor %}
{% endblock %}
